<!-- 文章新增 -->

<%- include('../layouts/header.ejs') %>

<div class="container my-5">
    <h3 class="mt-5 mb-4">Add New Post</h3>
    <form action="/posts/store" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          value=""
          placeholder="Enter title here"
        />
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          name="content"
          rows="8"
          cols="80"
          placeholder="Write something amazing"
        ></textarea>
      </div>

      
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>



<%- include('../layouts/footer.ejs') %>